.top {
  width: 3rem;
  height: auto;
  transform: rotate(180deg);
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.top:hover {
  transform: translateY(-3px) rotate(180deg);
}


/* #blah {
  background-image: url() ;
  background: linear-gradient( rgba(0,0,0,0.533), rgba(68, 35, 35, 0.533)), url('../images/bcknife.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	width: 100%;
}

#foot {
  background-color: white;
} */